<h3>Edit card</h3>

<form action="/cards/<%= @card.id %>" method="post">
  <li><label for="question">Question: <%= @card.question %></label>
  <input type="text" name="question" placeholder="Enter new question"></li>
  <li><label for="answer">Answer: <%= @card.correct_answer %></label>
  <input type="text" name="answer" placeholder="Enter new answer"></li>
  <input type="submit" value="Save">
</form>

<form action="/decks/<%= @card.deck.id %>/edit" method="get">
  <input type="submit" value="Cancel">
</form>
