<h1>Create card <%= @deck.cards.length + 1 %> for deck <%= @deck.name %></h1>

<form action="/decks/<%= @deck.id %>/cards" method="post">
  <label for="question">Question: </label>
  <input type="text" name="question"><br>

  <label for="answer">Answer: </label>
  <input type="text" name="answer"><br>

  <input type="submit" value="Add Card">
</form>
