h1 {
  border-bottom: #000099 solid 5px;
  padding: 20px;
  margin: auto;
  text-align: center;
  font-family: Garamond;
  font-size: 3em;
}

nav {
  margin-top: 2%;
  display: inline-block;
  width: 15%;
  vertical-align: top;
}

main {
  width: 83%;
  display:inline-block;
  border-left: #FF6600 solid 3px;
  padding-left: 1%;
  
}
figure {
  margin: 0;
}

figcaption {
  font-size: .75em;
}

.half-inline-block {
  display: inline-block;
  width: 49.5%;
}

#funaki-img {
  max-width: 100%;
  height: auto;
  vertical-align: top;
}

.facts {
  display: inline-block;
  width: 49%;
  vertical-align: top;
}

#basketball-image {
  background-image: url(images/basketball.png);
  background-size: 100%;
}



/*Styling for footer links*/

footer {
  margin-top: 30px;
  border-top: #000099 solid 5px;
  padding-top: 2%;
  text-align: center;
}


.footerlink {
  border-radius: 5px;
  padding: 5px;
  text-decoration: none;
  font-family: Verdana;
  font-weight: bold;
  color: #000033;
  border: 1px black solid;
}
#nba-link {
  background: orange;
 
}

#espn-link {
  background: #B80000;
}

#google-link {
  background: #00CCCC;
}


/*Media Query*/
@media screen and (max-width: 700px) {
  nav {
    width: 14%;
  }
}

@media screen and (max-width: 520px) {
  h1 {
    font-size: 1.5em;
  }
  h2, h3, h4, h5, h6 {
    font-size: 1em;
  nav {
    width: 100%;
    border-bottom: #000099 solid 5px;
  }
  main {
    width: 100%;
  }
  figure {
    width: 100%;
  }
  .half-inline-block {
    width: 100%;
  }
  .facts {
    width: 100%;
  }
}

@media screen and (max-width: 700px) {
  main {
    width:75%;
  }
}