
<% if @correct %>

  <h1>INCORRECT!</h1>
  <div>Nice try Dummy. The correct answer is "<%=@correct%>".</div>

<% else %>

  <h1>NICE!</h1>
  <div>Good job buddy.</div>

<% end %>

<a href="/rounds/<%= current_round.id %>">Next Question</a>
