<div class="center">
  <p class="card_text">Question:

  <%= @card.question %>
  </p>

  <form action='/rounds/<%= current_round.id %>' method='post'>
    <input type="hidden" name="card_id" value=<%= @card.id %>>
    <input type="text" name="answer">
    <input class="button" type="submit" value="Submit">
  </form>
</div>
