<div class="container">
  <h1>Welcome!</h1>

  <%if @errors%>
    <%=@errors%>
  <%end%>

  <form action="/login" method="post"

    <label for="username">Username:</label>
    <input type="text" name="username"><br>

    <label for="password">Password:</label>
    <input type="password" name="password"><br>

    <input type="submit" value="Login"><br><br>

    <div><a href="/new">Click here to create an account.</a></div>

</div>
