<h1 class="pd">Playable Decks</h1>



<ul>
  <% @decks.each do |deck| %>
    <li><a href="/decks/<%= deck.id %>"><%= deck.name %></a></li>
  <% end %>
</ul>

<br>

<% if login? %>
  <a href="/decks/new">Create a new deck!</a>
<% else %>
  <p>Make an account or login to make a new deck!</p>
<% end %>
