<h1>Create a new deck</h1>

<% if @errors %>
  <% @errors.each do |error| %>
    <li><%= error %></li>
  <% end %>
<% end %>

<form action="/decks" method="post">
  <label for="name">Deck Title: </label>
  <input type="text" name="name"><br>
  <label for="description">Description: </label>
  <input type="text" name="description"><br>
  <input type="submit" value="Create Deck">
</form>
