<!-- <h1>Welcome!</h1>
<% if login? == true %>
  Welcome
 <% else %>
  <a href="/sessions/login">Click to Log In.</a>
  <div><a href="/users/new">Click here to create an account.</a></div>
<%end%>

 -->
<a href="/decks">Play Game</a>
